.appointemts__layout {
  margin-top: 2em;
  h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }

  .appointments__navigations {
    display: flex;
    gap: 15px;
    margin-bottom: 2em;
    
    a {
      text-decoration: none;
      padding: 9px 14px;
      border-radius: 5px;
      background-color: #e0e0e0;
      color: #333;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #26c7ed;
        color: white;
      }

      &.active-link {
        background-color: #26c7ed;
        color: white;
        border-bottom: 2px solid #1aa3c6; 
      }
    }
  }
}
