.chat__container {
  max-width: 1000px;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

.messages {
  display: grid;
  padding: 1em;
  height: 70vh;
  overflow-y: scroll;
  gap: 3em; /* Space between messages */
}

.message {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  max-width: 75%;
  position: relative;
  padding: 10px;
  border-radius: 12px;
  word-wrap: break-word;

  .sender-name {
    font-size: 12px;
    margin-bottom: 4px;
    color: gray;
  }

  .text-content {
    p {
      margin: 0;
      font-size: 14px;
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
  }
}

.user {
  background-color: #7a2afd;
  color: white;
  margin-left: auto; /* Align user message to the right */
  border-radius: 12px 0 12px 12px;
}

.ai {
  background-color: #eeeff1;
  color: black;
  margin-right: auto; /* Align AI message to the left */
  border-radius: 0 12px 12px 12px;
}

.input__container {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #eeeff1;
  border-radius: 10px;
  position: fixed; /* Fixes the input at the bottom */
  bottom: 0; /* Aligns it to the bottom of the viewport */
  width: 100%; /* Full width */
  max-width: 1000px; /* Restricts width to match the chat container */
  margin: 1em auto; /* Centers the input container */

  img {
    height: 6vh;
    border-radius: 50%;
  }
}

.input-field {
  flex-grow: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.send-button {
  padding: 8px 16px;
  background-color: #7a2afd;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: #6828d1;
  }
}
