$background-color: rgba(255, 255, 255, 0.1);
$shadow-color: rgba(157, 158, 163, 0.37);
$border-color: rgba(255, 255, 255, 0.18);
$button-bg-color: #28c7ed;
$gray-color: gray;

.appointment-list {
  display: grid;
  gap: 1em;
}

.appointment-card {
  padding: 1em;
  border-radius: 1em;
  background: $background-color;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid $border-color;

  &-profile-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .appointment-doc-profile {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    transition: transform 0.5s ease;
  }

  .card-info {
    small {
      color: $gray-color;
      font-weight: bold;
    }
    
    &.appointments h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      font-size: 0.85rem;
    }
  }

  .card-speciality {
    margin: 0.7em 0;
    .doc-speciality {
      color: $gray-color;
      margin-top: 0.3em;
    }
  }

  .card-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8em;

    .date, .time {
      h5 {
        margin: 0;
      }
    }
  }

  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-btn {
    color: white;
    background-color: $button-bg-color;
    border: none;
    outline: none;
    padding: 0.4em;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bolder;
  }

  .card-talk-to-doc {
    display: flex;
    align-items: center;
    gap: 3em;

    .card-talk-link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      background-color: rgb(198, 203, 207);
      padding: 0.4em;
      border-radius: 0.4em;

      .card-phone {
        font-size: 1.2rem;
        color: rgb(235, 172, 14);
      }

      .card-video {
        font-size: 1.2rem;
        color: #0790f8;
      }
    }
  }
}
