.dashboard__layout {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  .rootDash__layout__outlet {
    margin: 0 0.9em;
  }

  .help {
    position: fixed;
    z-index: 99999999;
    bottom: 2%;
    right: 2%;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #d7dde6;
      padding: .9em;
      border-radius: 50%;
      .help__icon {
        font-size: 2rem;
      }
    }
  }
}
