$card-bg-color: #f5f5f5;
$hover-bg-color: rgba(255, 255, 255, 0.85);
$transition-duration: 0.35s;
$font-size: 0.85rem;
$verified-color: #28c7ed;

.home-doctors-list {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 1em 0;
}

.home-doc-card {
  background: $hover-bg-color;
  padding: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
  color: black;
  transition: $transition-duration ease;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.doctors h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: $font-size;
}

.verified-icon {
  color: $verified-color;
  margin: 0.2em 0;
  font-size: 0.9rem;
}
