.header__container {
  padding: .6em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(218, 218, 218);
  .left__container{
    display: flex;
    align-items: center;
    gap: .6em;
    img{
        height: 6vh;
    }
    h3{
        color: #18191a;
    }
  }

  .right__container{
    display: flex;
    align-items: center;
    gap: 2em;
    a{
        font-weight: bold;
        font-size: small;
        color: #515354;
    }

    .navigations, .navigation__icons{
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .navigation__icons{
        a{
            
            img{
                height: 6vh;
                border-radius: 50%;
            }
        }

        .header__icon{
            font-size: 1.8rem;
        }
    }
  }
}
