.doctor-profile {
  display: flex;
  align-items: center;
  margin: 1em 0;

  &__image {
    margin-right: 20px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .info {
    display: flex;
    gap: 2em;
    align-items: center;

    p {
      display: flex;
      align-items: center;
      color: #131313;
      .icon {
        font-size: 1.5rem;
      }
    }

    .online {
      color: #26c7ed;
      .icon-online {
        font-size: 2rem;
        color: #26c7ed;
      }
    }

    .offline {
      color: #d84646;
      .icon-offline {
        font-size: 2rem;
        color: #d84646;
      }
    }
  }
}
