.search__doctor {

  h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }

  .search__input {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: .6em;
    padding: .4em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    input {
      border: none;
      outline: none;
      width: 300px;
      padding: 8px;
      font-size: 1rem;
      color: #333;
    }

    .icon {
      font-size: 1.5rem;
      color: #555;
    }
  }
}
