@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  text-decoration: none;
  color: #5946f8;
  white-space: nowrap;
}
body {
  background-color: #f4f8fe;
}

/* Track */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d9bf0; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d9bf0; /* Color of the scrollbar handle on hover */
}

/* Track */
::-moz-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Handle */
::-moz-scrollbar-thumb {
  background: #2d9bf0; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-moz-scrollbar-thumb:hover {
  background: #2d9bf0; /* Color of the scrollbar handle on hover */
}
