.appointment__chat {
  position: sticky;
  top: 0;
  flex: 0.6;
  padding: 1em;
  border-left: 1px solid rgb(218, 218, 218);
  height: calc(100vh - 4em);

  h1 {
    color: #333;
  }

  .chat__window {
    height: 70vh;
    overflow-y: auto;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 15px;
  }

  .chat__messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .chat__message {
    display: flex;
    font-size: .9em;
    &.user {
      justify-content: flex-end;
      width: 75%;
    }
    &.doctor {
      justify-content: flex-start;
      width: 75%;
    }

    .chat__bubble {
      padding: .6em;
     

      &.user {
        background-color: #7a2afd;
        border-radius: 10px 0 10px 10px;
      }
      &.doctor {
        background-color: #f0f0f0;
        color: #333;
        border-radius: 10px 10px 10px 0;
      }
    }
  }

  .chat__input {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 10px;

    input {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    button {
      margin-left: 10px;
      padding: 10px 15px;
      background-color: #26c7ed;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: #1ab7d7;
      }
    }
  }
}
